################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/1_Specifications/TheMealDb_API/TheMealDb_API/bin/Debug/net6.0
/1_Specifications/TheMealDb_API/TheMealDb_API/obj
