################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/1_Specifications/TheMealDb_API/TheMealDb_API/bin/Debug/net6.0
/1_Specifications/TheMealDb_API/TheMealDb_API/obj
/1_Specifications/TheMealDb_API/API Samples/Debug/net6.0/runtimes/win/lib/net6.0
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.Service/obj
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.DataAccess/bin/Debug/netstandard2.1
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.DataAccess/obj
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.DataAccess.Tests/bin/Debug/net6.0
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.DataAccess.Tests/obj
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.Entities/bin/Debug/netstandard2.1
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.Entities/obj
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.Service.Tests/bin/Debug/net6.0
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.Service.Tests/obj
/3_Projects/KitchenHeaven.FrameWork/KitchenHeaven.FrameWork.Service/bin/Debug/netstandard2.1
/3_Projects/KitchenHeaven.API/bin/Debug/net6.0/runtimes
/3_Projects/KitchenHeaven.API/bin/Debug/net6.0
/3_Projects/KitchenHeaven.API/obj
