<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="APIConfiguration">
			<section name="General" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="MealArea" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="MealCategory" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="MealMealIngredient" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="Meal" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</sectionGroup>
	</configSections>
	<APIConfiguration>
		<General>
			<add key="APIUrl" value="https://www.themealdb.com/api/json/v1/"></add>
			<add key="APIKey" value="1"></add>
		</General>
		<MealArea>
			<add key="APIFilterMethod" value="filter.php"></add>
			<add key="APIListMethod" value="list.php"></add>
			<add key="APIArgument" value="a"></add>
		</MealArea>
		<MealCategory>
			<add key="APIFilterMethod" value="filter.php"></add>
			<add key="APIListMethod" value="list.php"></add>
			<add key="APIArgument" value="c"></add>
		</MealCategory>
		<Meal>
			<add key="APINameFilterMethod" value="search.php"></add>
			<add key="APIIdFilterMethod" value="lookup.php"></add>
			<add key="APIFirstLetterArgument" value="f"></add>
			<add key="APINameArgument" value="s"></add>
			<add key="APIIdArgument" value="i"></add>
		</Meal>
	</APIConfiguration>
</configuration>